.magicEightBallContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}

.magicEightBall {
  position: relative;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.magicEightBall::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: #000;
  z-index: -1;
}



